<Router AppAssembly="@typeof(Program).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="routeData" DefaultLayout="@typeof(Microsoft.AspNetCore.Components.LayoutComponentBase)" />
    </Found>
    <NotFound>
        <p>TTL ERP Module Ready - Implement UI in Shared.UI</p>
    </NotFound>
</Router>
