@using Microsoft.AspNetCore.Components.Routing
@using TTL.Shared.UI.Layouts
<Router AppAssembly="@typeof(Program).Assembly" AdditionalAssemblies="new[] { typeof(TTL.Auth.Client.Pages.Login).Assembly }">
    <Found Context="routeData">
        <RouteView RouteData="routeData" DefaultLayout="@typeof(EmptyLayout)" />
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(EmptyLayout)">
            <div class="text-center p-5">
                <h1>404 - Not Found</h1>
                <p>Mô đun hiện tại chưa có trang gốc (vui lòng truy cập /login hoặc /hrm).</p>
                <a href="/login" class="btn btn-primary">Chuyển đến Đăng nhập</a>
            </div>
        </LayoutView>
    </NotFound>
</Router>
