<Router AppAssembly="typeof(Program).Assembly" AdditionalAssemblies="new[] { typeof(TTL.HRM.Client.Pages.Index.Index).Assembly, typeof(TTL.Auth.Client.Pages.Login.Account.Account).Assembly }">
    <Found Context="routeData">
        <RouteView RouteData="routeData" DefaultLayout="typeof(TTL.Shared.UI.Layouts.ErpMainLayout)" />
        <FocusOnNavigate RouteData="routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="typeof(TTL.Shared.UI.Layouts.ErpMainLayout)">
            <p role="alert">Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>
